{% extends 'base.html'%}

{% block main %}
{% if form.errors %}
{% for field in form %}
{{ field.name }}
{% for error in field.errors %}
<div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %}
{% endfor %}
{% for error in form.non_field_errors %}
<div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
</div>
{% endfor %}

{% else %}

{% endif %}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center p-3">
            <h1> Editar Perfil </h1>
        </div>
    </div>

    <!--FORM-->
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <form method="POST" id="form-perfil" class="formulario font-weight-bold rounded p-5"
                enctype="multipart/form-data">
                <div class="row mb-3">
                    <div class="col d-flex justify-content-center">
                        <h4>Faça as alterações</h4>
                    </div>
                </div>

                {% csrf_token %}

                <!--CRM-->
                <div class="row mt-2 mb-2">
                    <div class="col d-flex justify-content-end p-0">
                        <label for="fname">CRM:</label>
                    </div>

                    <div class="col-8 d-flex justify-content-start p-0">
                        {{ form.crm }}
                    </div>
                </div>
                <!--END crm-->

                <!--EMAIL-->
                <div class="row mt-2 mb-2">
                    <div class="col d-flex justify-content-end p-0">
                        <label for="fname">
                            Email:
                        </label>
                    </div>
                    <div class="col-8 d-flex justify-content-start p-0">
                        {{ form.email }}
                    </div>
                </div>
                <!--END email-->

                <!--NAME-->
                <div class="row mt-2 mb-2">
                    <div class="col d-flex justify-content-end p-0">
                        <label for="fname">
                            Nome:
                        </label>
                    </div>

                    <div class="col-8 d-flex justify-content-start p-0">
                        {{ form.first_name }}
                    </div>

                </div>
                <!--END name-->

                <!--LAST NAME-->
                <div class="row mt-2 mb-2">
                    <div class="col d-flex justify-content-end p-0">
                        <label for="fname">
                            Sobrenome:
                        </label>
                    </div>

                    <div class="col-8 d-flex justify-content-start p-0">
                        {{ form.last_name }}
                    </div>
                </div>
                <!--END last name-->

                <!--DATE JOINED-->
                <div class="row mt-2 mb-2">
                    <div class="col d-flex justify-content-end p-0">
                        <label for="fname">
                            Data de entrada:
                        </label>
                    </div>

                    <div class="col-8 d-flex justify-content-start p-0">
                        {{ form.date_joined }}
                    </div>
                </div>
                <!--END data joined-->

                <!--OCCUPATION-->
                <div class="row">
                    <div class="col d-flex justify-content-end p-0">
                        <label for="fname">
                            Ocupação:
                        </label>
                    </div>
                    
                    <div class="col-8 d-flex justify-content-start pl-2">
                        {{ form.occupation }}
                    </div>
                </div>
                <!--END occupation-->

                <!--AVATAR-->
                <div class="row mt-2 mb-2">
                    <div class="col d-flex justify-content-end p-0">
                        <label for="fname">
                            Avatar:
                        </label>
                    </div>

                    <div id="arquivo" class="col-8 d-flex justify-content-start p-0 ml-0">
                        {{ form.avatar }}
                    </div>
                </div>
                <!--END avatar-->

                <!--BUTTONS-->
                <div class="row">
                    <div class="col-6 ">
                        <a href="{%url 'home'%}">
                            <button type="button" class="btn  m-1">
                                Voltar
                            </button>
                        </a>
                    </div>

                    <div class="col-6 d-flex justify-content-end">
                        <button type="submit" class="btn m-1">
                            Enviar
                        </button>
                    </div>
                </div>
                <!--END Bbuttons-->
            </form>
        </div>
    </div>
    <!--END form-->
</div>
{% endblock %}