{% extends 'base.html' %}

{% block main %}
<!--Coluna direita-->
<div id="coluna-direita" class="col-9">
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center p-3">
                            <h1>Lista de Pacientes</h1>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col d-flex justify-content-center ">
                            <a href="{%url 'registerPatient'%}"><button type="button"
                                    class="btn ">Cadastrar</button></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <!--Tabela de pacientes
                    --------------------------->
                            <div class="table-responsive ">
                                <table class="table">
                                    <!--Atributos-->
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">CPF</th>
                                            <th scope="col">NOME</th>
                                            <th scope="col">SEXO</th>
                                            <th scope="col">IDADE</th>
                                            <th scope="col">ETNIA</th>
                                            <th scope="col">OPÇÕES</th>
                                        </tr>
                                    </thead>
                                    <!--end-->

                                    <tbody>
                                        {% for patient in patients %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ patient.cpf }}</td>
                                            <td>{{ patient }}</td>
                                            <td>{{ patient.sex }}</td>
                                            <td>{{ patient.age }}</td>
                                            <td>{{ patient.ethinicity }}</td>
                                            <td>
                                                <div id="td-opc" class="row mr-0">
                                                    <div class="col-lg-6 d-flex justify-content-center mt-1 p-0">
                                                        <button type="button" class="btn btn-sm">Editar</button>
                                                    </div>

                                                    <div class="col-lg-6 d-flex justify-content-center mt-1 p-0">
                                                        <button type="button" class="btn btn-sm">Deletar</button>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <!--end tabela-->
                            </div>
                        </div>
                    </div>

                    <!--Area de botoes-->
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="button" class="btn  m-1">Anterior</button>
                            <button type="button" class="btn btn-sm mt-1 mb-1">1</button>
                            <button type="button" class="btn btn-sm m-1">2</button>
                            <button type="button" class="btn btn-sm mt-1 mb-1">3</button>
                            <button type="button" class="btn  m-1">Próximo</button>
                        </div>
                    </div>
                    <!--end botoes-->
                </div>
            </div>
<!--Coluna direita-->
{% endblock %}