{% extends 'base.html' %}
{% load static %}


{% block main %}
    {% if exam.exam_type == "Ecocardiograma" %}
        <div class="container text-center mt-5" >
            <div class="bg-info">
                <div class="row pt-2">
                    <div class="form-group col-md-4">
                        <b class="text-white">Código do Exame: {{ form.exam.value }} </b>
                    </div>
                    <div class="form-group col-md-4">
                        <b class="text-white">Médico: {{ form.medico.value }}</b>
                    </div>

                    <div class="form-group col-md-4">
                        <b class="text-white">Data: {{ form.realization_date.value|date:"d/m/Y" }}</b>
                    </div>
                </div>
            </div>

            <div>
                <img  src="{% static 'img/ecocardiograma2.jpg' %}" width="100%" height="600">
            </div>

            <form method="post">
                {% csrf_token %}
                <div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <input id="exam" name="exam" type="hidden" value="{{ form.exam.value }}">
                        </div>

                        <div class="form-group col-md-4">
                            <input id="medico" name="medico" type="hidden" value="{{ form.medico.value }}">
                        </div>

                        <div class="form-group col-md-4">
                            <input id="realization_date" name="realization_date" type="hidden" value="{{ form.realization_date.value|date:'Y-m-d' }}">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn">Inicar Exame</button>
            </form>
        </div>
    {% endif %}
{% endblock %}