{% extends 'base.html' %}
{% load static %}


{% block main %}
    {% if exam.exam_type == "Ecocardiograma" %}
        <div class="container text-center" style="border: 1px solid red;">
            <div>
                <img  src="{% static 'img/equipamento-ecocardiograma.jpg' %}">
            </div>
            <div>

               {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <p> {{ error }} </p>
        {% endfor %}
    {% endfor %}
{% endif %}
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit"  class="btn">Iniciar Exame</button>
                </form>
            </div>

            <div>

            </div>
        </div>
    {% endif %}
{% endblock %}