{% extends 'base.html' %}
{% load static %}

{% block main %}

<div class="container p-5">
    <div>
        <div class="col d-flex justify-content-center">
            <h1>emissão de laudo</h1>
        </div>
    </div>

    <div>
        <div class="col d-flex justify-content-end">
            <button type="button" class="btn mb-1">Imprimir</button>
        </div>
    </div>

    <div class="bg-info">
        <div class="col d-flex justify-content-center">
            <h4 class="text-white text-uppercase p-2">informações do exame</h4>
        </div>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class="col bg-secondary pt-2">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="" class="text-white">Código do Exame: {{ form.exam.value }} </label>
                    <input id="exam" name="exam" type="hidden" value="{{ form.exam.value }}">
                </div>

                <div class="form-group col-md-4">
                    <label for="" class="text-white">Médico: {{ form.medico.value }}</label>
                    <input id="medico" name="medico" type="hidden" value="{{ form.medico.value }}">

                </div>

                <div class="form-group col-md-4">
                    <label for="" class="text-white">Data: {{ form.realization_date.value|date:"M d, Y" }}</label>
                    <!--
                    <input id="realization_date" name="realization_date" type="hidden" value="{{ form.realization_date.value }}">
                    -->

                </div>
            </div>


            <div class="form-group pt-2">
                <img src="{% static 'img/ecocardiograma.jpg' %}" width="100%">
                {{ form.file.value }}

            </div>

            <div class="form-group">
                <div class="bg-primary text-center">
                        <label class="pt-2 text-white">
                           Diagnóstico
                        </label>
                </div>
               <div>
                   {{ form.diagnostic }}
               </div>
            </div>


        </div>

        <div class="row mt-3">
            <div class="col d-flex justify-content-center">
                <a href="{% url 'listReport' %}"  class="btn">Voltar</a>
                <button type="submit" class="btn">Emitir</button>
            </div>
        </div>

    </form>



</div>
{% endblock %}