{% extends 'base.html' %}

{% block main %}
<div class="container">
    {% include 'buscar_paciente_modal.html' %}


    <div class="row">
        <div class="col d-flex justify-content-center">
            <h1>Cadastro de Exame</h1>
        </div>
    </div>
    <!--Area formulario-->
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="formulario rounded">

                <!-- Cadastro de Exame -->
                <form method="POST" class=" font-weight-bold rounded pl-5 pr-5 pt-0 pb-0">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                        <div class="d-flex justify-content-center">
                            <h4>Preencha o formulário</h4>
                        </div>
                    </div>
                    <!--Area Paciente-->

                    <div class="form-group mb-2">
                        <label for="fname">Paciente:</label>
                        <input id="cpf_patient" type="text" name="cpf_patient" readonly="readonly">

                        <div class="text-right">
                            <button id="btnBuscarPacientesModal" type="button" class="btn btn-primary"
                                data-toggle="modal" data-target="#buscarPacientesModal">
                                Selecionar
                            </button>
                        </div>
                    </div>

                    <!--end Paciente-->

                    <!--Area Data-->
                    <div class="form-group">

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
                            Data do exame
                        </button>

                        <!-- Modal -->
                        <div class="modal fade text-dark" id="staticBackdrop" data-backdrop="static" tabindex="-1"
                            role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Data do exame:</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <label for="fname">Data do exame: </label>
                                        <span id="data">{{ form.appointment_date }}</span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button"
                                            class="btn btn-primary">Understood</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span id="exibeData"></span>
                    </div>
                    <!--End data-->

                    <!--Area recomendação-->
                    <div class="form-group">
                        <label for="fname">Tipo de Exame:</label>
                        <span class="pl-1">{{ form.exam_type }}</span>
                    </div>
                    <!--end recomendação-->

                    <!--Area exame-->
                    <div class="form-group mb-2">
                        <div class="bg-info d-flex justify-content-center ">
                            <label class="pt-2">
                                Recomendações
                            </label>
                        </div>

                        <div>
                            {{ form.recommendations }}
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col d-flex justify-content-start">
                                <a href="{%url 'listExams'%}">
                                    <button type="button" class="btn  m-1">Voltar</button>
                                </a>
                            </div>

                            <div class="col d-flex justify-content-end">
                                <a href="">
                                    <button id="btn" type="submit" class="btn btn-info m-1 "> Enviar </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% if patients_list %}
<script>
    document.body.onload = function () { exibirPacientesModal() };
</script>

<script>
    function exibirPacientesModal() {
        document.getElementById("btnBuscarPacientesModal").click();
    }

    function selecionarPacienteModal(cpf) {
        document.getElementById("cpf_patient").value = cpf;
        document.getElementById("close_modal").click();
    }
</script>

{% else %}

{% endif %}

{{ cpf_patient }}

{% endblock %}

{%block javascript%}
<script type="text/javascript" src="{% static 'Js/Js.js' %}"></script>
{%endblock%}