/*general*/

* {
    margin: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url("../img/hospital-background-images-png-6.png") no-repeat;
    background-size: 100%;
}

/*top area*/

#header {
    background: linear-gradient(#217de7, #15559e);
    color: whitesmoke;
    padding: 10px;
}

/*content area / login*/

#login-area {
    text-align: center;
    padding: 200px;
}

#data-fields #id-field {
    margin: 40px auto 20px -80px;
}

#data-fields #password-field {
    margin: auto auto 20px -80px;
}

#data-fields #id {
    margin-right: 25px;
    margin-left: 30px;
}

#data-fields #password {
    margin-right: 23px;
}

#id-input, #password-input {
    width: 25%;
    height: 25px;
    border: white solid 1.5px;
    background: #f2f2f29a;
}

#submit-button {
    color: white;
    padding: 7px 20px;
    background: #15559e;
    border-style: none;
}

/*footer area*/

footer {
    color: #4c4c4d;
    text-align: center;
    width: 100%;
    font-size: 15px;
}

footer h3 {
    padding: 10px;
}