/*Fake background-image opacity
--------------------------------*/

div#body-bg_image {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

div#body-bg_image::after {
    content: "";
    background: url("../img/hospital-background-images-png-6.png");
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    width: 100vw;
}

/*General*/

#coluna-esquerda {
    background: #2266b5;
    height: 100%;
}

#coluna-direita {
    height: 100%;
}

#coluna-direita button {
    background: white;
    color: #195190;
    border: 1px solid #195190;
}

#coluna-direita h1 {
    text-transform: uppercase;
    color: #195190;
    letter-spacing: 2px;
}

/*Tela Login*/

footer {
    margin-top: 260px;
}

/*avatar*/

#avatar {
    border-radius: 80%;
    width: 54px;
    height: 54px;
    background: #479df8;
}

/*Info user*/

.info_user {
    color: white;
    font-weight: bold;
}

#nome, #funcao, #crm {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: small;
}

/*Menu*/

#area-titulo-menu {
    color: white;
    background: #1a508f;
    text-transform: uppercase;
}

.btn_col_esq {
    width: 100%;
    background: #1a589f;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

#footer-style-space {
    height: 10px;
}

/*Table*/

.table th {
    background: #195190;
    color: white;
    text-transform: uppercase;
}

.table tr {
    background: white;
    color: #195190;
    font-weight: bold;
    text-transform: uppercase;
}

/*cadastro*/

#area-nome, #area-cpf, #area-nascimento, #area-data, #area-crm, #area-recomendacao {
    font-weight: bold;
}

#area-nome input, #area-cpf input, #area-nascimento input, #area-data input, #area-recomendacao input, #area-crm input {
    border: 2px solid rgb(237, 242, 247);
    background: rgb(255, 255, 255);
}

#area-nome input {
    width: 50%;
}